@import "tailwindcss";

/* 1. Variables base del App Router para modo CLARO */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 2. MODO OSCURO (Preferencias del sistema) */
@media (prefers-color-scheme: dark) {
    :root {
      --background: #1e0539;
      --foreground: #ededed;
      --keeper-primary: #bc7fff;
    }
}

/* 3. MODO OSCURO (Forzado por la clase 'dark' en el <html> o <body>) */
.dark :root {
    --background: #1e0539;
    --foreground: #ededed;
    --keeper-primary: #bc7fff;
}

/* 4. Estilos de Body (Aplica el fondo/color base usando las variables de arriba) */
body {
  /* Usamos las variables base del App Router */
  background: var(--background);
  color: var(--foreground);
  
  /* Aplicamos la fuente base de Tailwind (asumiendo que Manrope se carga en layout.js) */
  font-family: var(--font-display), Arial, sans-serif; 
}

/* 5. Estilos específicos para Material Symbols */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 20px;
}
